@model OfferLetter.Models.TempMapModel

@{
    ViewBag.Title = "Delete";
}

<h2>Offer Letter</h2>
<h4>Template Mapping</h4>
<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Template)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Template)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mappingcolumn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mappingcolumn)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
<div style="text-align:end"> @Html.ActionLink("Back To Home", "OfferLetterGeneration", "OfferLetterGeneration")</div>
