@model User.Models.User

@{
    ViewBag.Title = "LogIn";
}

@*<h2>Index</h2>*@

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    .error {
        color: red;
    }
</style>
<body style="background-color:lavender">
</body>


<div style="font-family:Arial">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="margin-left:50px; margin-right:100px; padding-right:100px;padding-left:-50px; background-color:beige"  >
            @*<h4>User</h4>*@
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="padding-left:300px">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="padding-left:300px">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="dvCaptcha" style="padding-left:350px">
            </div>
            <input type="hidden" id="hfCaptcha" />
            <span id="rfvCaptcha" class="error" style="display:none">Captcha validation is required.</span>
            <br />
            <div class="form-group" style="padding-left:300px">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="LogIn" id="btnSubmit" class="btn btn-default" />
                </div>
            </div>

            
           <div style="text-align:end"> @Html.ActionLink("Concurrent User List", "Concurrent","ConcurrentUserList")</div>
           <div style="text-align:end"> @Html.ActionLink("Offer Letter Generation", "OfferLetterGeneration", "OfferLetterGeneration")</div>


            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                    async defer></script>
            <script type="text/javascript">

       var onloadCallback = function () {
            grecaptcha.render('dvCaptcha', {
                'sitekey': '6LftViEaAAAAAOUSXKsLNNsQJctGv44nPqjRiCBl',
                'callback': function (response) {
                    $.ajax({
                        type: "POST",
                        url: "/User/AjaxMethod",
                        data: "{response: '" + response + "'}",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (r) {
                            var captchaResponse = jQuery.parseJSON(r.Response);
                            if (captchaResponse.success) {
                                $("#hfCaptcha").val(captchaResponse.success);
                                $("#rfvCaptcha").hide();
                            } else {
                                $("#hfCaptcha").val("");
                                $("#rfvCaptcha").show();
                                var error = captchaResponse["error-codes"][0];
                                $("#rfvCaptcha").html("RECaptcha error. " + error);
                            }
                        }
                    });
                }
            });
        };
        $(function () {
            $("#btnSubmit").click(function ()
            {
                $("#rfvCaptcha").hide();
                if ($("#hfCaptcha").val() == "") {
                    $("#rfvCaptcha").show();
                    return false;
                }
            });
        });
            </script>

        </div>
    }


</div>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
